/*! bulma.io v0.3.1 | MIT License | github.com/jgthms/bulma */
@charset "utf-8";

// Override initial variables here
// You can add new ones or update existing ones:
$os-blue: #0DC0DC;
$family-sans-serif: "Noto Sans", "Noto Sans CJK {JP, KR, SC, TC}", sans-serif;

// Override generated variables here
$primary: $os-blue;
$family-primary: $family-sans-serif;

@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

.sg-search {
  overflow: visible;

  .sg-search-box-container {
    background-color: #fff;
    height: 28px;
    vertical-align: top;
    border: 1px solid #d9d9d9;
    overflow: hidden;

    .sg-search-box {
      padding: 6px 9px 0;
      height: 100%;

      input {
        border: none;
        width: 100%;
        font-size: 12px;
      }
      input:focus {
        outline-width: 0;
      }
    }
  }
  .sg-search-results {
    position: absolute;
  }
}

.sg-sections > .sg-section {
  & > h2 {
    font-size: 16px; //24px;
  }
}

.sg-navigation {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.sg-sections {
  display: inline-block;
  width: 400px;
}
