<html>
  <head>
    <title>Textbook Style Guide</title>
    <link rel="stylesheet" type="text/css" href="highlight.css" />
  </head>
  <body>
    <h1>Textbook Style Guide</h1>
    {% for section in sections %}
    <section>
      <h2>{{ section.section|e }}</h2>
      <p>{{ section.description }}</p>
      <p>Raw HTML:</p>
      {{ section.raw_html|highlight }}
      <p>Cooked HTML:</p>
      {{ section.cooked_html|highlight }}
      <p>Ruleset:</p>
      {{ section.rule_set|highlight }}
    </section>
    {% endfor %}
  </body>
</html>
