@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Noto+Serif');
@charset "utf-8";
@import "variables",
        "font-awesome",
        "bulma",
        "animate",
        "highlight",

        //For general-composition/typography styles
        "typography-scales";


.sticky {
  will-change: transform;
  transition: transform 200ms linear;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.sticky--pinned {
  transform: translateY(0%);
}

.sticky--unpinned {
  transform: translateY(-100%);
}

/* Layout */
html {
  font-size: 16px;
}

body {
  display: flex;
  height: 100%;
  height: 100vh;
  font-size: 100%;
  flex-direction: column;
  line-height: 1.75;
}

.header,
.footer {
  flex: none;
}

.body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  .side-nav {
    @include tablet {
      flex: 0 0 250px;
    }
  }

  .main.section {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablet {
      margin: 0;
    }

    .container {
      flex: 1;
      width: 100%;
    }
  }

  .title {
    font-family: $family-helvetica;
  }
}

/* Custom styles */

body {
  background-color: $body-bg;

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.header .nav {
  z-index: 9999;
  min-height: 5rem;

  @include tablet {
    background-color: $primary;
  }

  @at-root .sticky--not-top#{&} {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  }

  .nav-left {
    @include tablet {
      flex: 0 0 250px;
      background-color: #fff;
    }
  }

  .logo {
    max-height: 2.2rem;
  }

  .nav-toggle {
    background-color: #f7f7f7;
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-self: center;
    margin: 0.5rem 0.75rem;

    @include tablet-only {
      left: -4rem;
    }

    &.is-active {
      span:nth-child(1) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }

      span:nth-child(3) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }
    }

    span {
      width: 12px;
      margin-left: -6px;
    }

    span:nth-child(1) {
      margin-top: -4px;
    }

    span:nth-child(3) {
      margin-top: 2px;
    }
  }
}

.search {
  padding: 1.5rem;
  position: relative;
  display: block;
  background-color: #fff;
  margin-bottom: 3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  &:hover,
  &.is-focus {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  @include desktop {
    background-color: rgba(255,255,255,0.2);
    align-self: center;
    box-shadow: none;
    padding: 0 1.5rem;
    margin-bottom: 0;
    border-radius: 3px;
    width: 100%;

    &.is-focus {
      background-color: rgba(255,255,255,1);
    }
  }

  @include widescreen {
    width: 75%;
  }

  .control.is-grouped {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  .control.has-icon .input + .icon {
    @include desktop {
      color: #008596;
      top: 1.5rem;
    }
  }

  .control.has-icon .input:focus + .icon {
    @include desktop {
      color: #008596;
    }
  }

  &.is-focus .control.has-icon .input + .icon {
    @include desktop {
      color: #7a7a7a;
    }
  }

  .input {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding-left: 4.5em !important;
    letter-spacing: -1px;

    @include desktop {
      background-color: transparent;
      height: 50px;
      padding-left: 3.5em !important;
      color: #077384;

      &::placeholder {
        color: #077384;
      }
      @at-root .search.is-focus {
        .input {
          color: #4B4B4B;

          &::placeholder {
            color: #4B4B4B;
          }
        }
      }
    }
  }

  @at-root .header .nav-center {
    display: none;
    flex: 1 0;
    margin: 0 2rem 0 1.5rem;
    min-height: inherit;

    @include desktop {
      display: flex;
    }

    .container {
      display: flex;
      flex: 1 0;
    }
  }

  @at-root .body & {
    @include desktop {
      display: none;
    }
  }
}

.search-results {

  @at-root .nav #{&} {
    position: absolute;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transform: translate3d(0,-100%,0);
    opacity: 0;
    top: 48px;
    left: 0;
    background-color: #fff;
    z-index: 1;
    text-align: left;
    overflow: hidden;
    width: 100%;
  }

    @at-root .content #{&} {
      ul {
        list-style: none;
        margin: 0;

        li {
          padding: 1rem 1rem 1rem 4rem;
          border-bottom: 1px solid #ebebeb;
          background-size: 22px;
        }

        li:first-child a {
          border-top: 0;
        }

        li:last-child {
          border-bottom: 0;
        }

        p {
          padding-left: 0.75em;
          font-size: 14px;
          line-height: 1.75;
        }
      }
    }

  &.is-visible {
    opacity: 1;
    transform: translate3d(0,0,0);

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0s,
      $function: linear,
      $fill: both
    );

    @at-root .sticky--unpinned #{&} {
      @include slideOutUp(
        $duration: 1.6s,
        $delay: 1s,
        $function: linear,
        $fill: both
      );
    }
  }

  @include desktop {
    border-top: none;
    top: 48px;
  }

  li {
    background-position: 1.5rem 50%;
    background-repeat: no-repeat;

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0s,
      $function: linear,
      $fill: both
   );

   &.no-results {
     color: #5F6163;
     font-weight: 600;
     border-bottom: 1px solid #ebebeb;
     border-top: 1px solid #ebebeb;
     padding: 1rem 1rem 1rem 5rem;
   }
  }

  li.getting-started {
    background-image: url('/assets/img/svg/icon-getting-started.svg');
  }

  li.general-composition {
    background-image: url('/assets/img/svg/icon-general-composition.svg');
  }

  li.content-elements {
    background-image: url('/assets/img/svg/icon-content-elements.svg');
  }

  li.book-skeleton {
    background-image: url('/assets/img/svg/icon-book-skeleton.svg');
  }

  li.themes {
    background-image: url('/assets/img/svg/icon-themes.svg');
  }

  li:first-child a {
    border-top: 1px solid #ebebeb;
  }

  li:nth-child(4) a {
    border-bottom: none;
  }

  a {
    color: #5F6163;
    font-weight: 600;
    border-radius: 0;

    @at-root .nav #{&} {
      border-bottom: 1px solid #ebebeb;
      padding: 1rem 1rem 1rem 6rem;
    }

    &:hover {
      background: transparent;
    }

    &.view-more {
      color: $primary;
      font-weight: 400;

      span:first-child {
        color: $primary;
        padding-bottom: 0;
        font-size: 10px;
        vertical-align: text-top;
        display: inline-block;
      }
    }

    span:first-child {
      font-size: 12px;
      color: #aaa;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      padding-bottom: 0.5rem;
      font-family: $family-helvetica;
    }
  }
}

.body {
  margin-top: 5rem;

  .side-nav {
    background-color: $nav-bg;
    color: #3b3b3b;

    @include mobile {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;

      @at-root .is-active#{&} {
        opacity: 1;
        width: inherit;
        height: inherit;
        position: fixed;
        top: 5rem;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }

    @include tablet {
      padding-bottom: 12rem;
    }

    @include tablet-only {
      z-index: 999;
      margin-left: -250px;
      transition: 0.2s transform ease-out;
      position: fixed;
      top: 5rem;
      left: 0;
      bottom: 0;
      width: 250px;

      @at-root .is-active#{&} {
        transform: translate3d(250px, 0, 0);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }

    .menu {
      padding-top: 1.3em;
      padding-bottom: 1.3em;
      border-bottom: 1px solid #d8d8d8;

      &:last-child {
        border-bottom: none;
      }
    }

    p {
      font-family: $family-helvetica;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      font-weight: 600;
      padding-left: 0.75em;
      padding-right: 0.75em;
      letter-spacing: -1px;
    }

    a {
      color: #3b3b3b;
      font-size: 16px;
      letter-spacing: -1px;
      border-left: 4px solid transparent;
      border-radius: 0;

      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }

      &.is-active {
        background-color: whitesmoke;
        color: $primary;
        border-color: $primary;
      }
    }
  }

  .main {
    background-color: $body-bg;
    opacity: 0;

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0.2s,
      $function: linear,
      $fill: both
   );

    &::before {
      opacity: 0;
      content: '';
      transition: opacity 0.3s 0.1s;

      @at-root .is-active#{&} {
        display: block;
        position: fixed;
        top: 5rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $os-blue-s40;
        opacity: 0.95;
        z-index: 99;
      }
    }

    .h1 {
      color: #0A99B0;
      letter-spacing: -1px;
      font-weight: bold;
      font-size: 18px;
      background-color: #fff;
      padding: 1.5rem;
      border-bottom: 1px solid #ebebeb;
    }

    .section {
      background-color: transparent;
      margin-bottom: 3rem;
      padding: 0;
      position: relative;
    }

    .github-bar {
      background: $github-bar;
      border-top: 1px solid #fff;
      border-bottom: 1px solid $github-bar-border;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      color: $os-gray;
      font-family: $family-helvetica;
      font-weight: 600;
      letter-spacing: -1px;
      font-size: 18px;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $fill: both
      );

      span,
      .changelog {
        font-weight: 500;
        color: $os-gray2;
      }

      .nav-right {
        display: flex;
      }

      .changelog {
        font-size: 14px;
        letter-spacing: 0px;
      }

      .fa {
        vertical-align: middle;
      }

      .github-issues {
        letter-spacing: 0px;
        color: $os-gray;
        font-size: 14px;
      }

      a:hover {
        color: $os-blue;
      }
    }

    .back-to-top {
      color: #363636;
      position: fixed;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      transition: opacity 0.2s, transform 0.2s;

      &:hover {
        color: $os-blue;

        .tooltiptext {
          visibility: visible;
          opacity: 1;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent #555;
          }
        }
      }

      span:not(.tooltiptext) {
        display: block;
        margin: 0 auto 0.5rem;
      }

      .tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 90px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s 0.2s;
        font-size: 12px;
        top: 50%;
        bottom: auto;
        right: 128%;
      }

      @at-root .menu.subsection.is-fixed {
        & + .back-to-top {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .content {
      background: #fff;
      padding: 3rem 1.5rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      word-wrap: break-word;
      z-index: 2;
      position: relative;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $fill: both
     );

      code {
        display: inline-block;
      }

      h2 {
        font-family: $family-helvetica;
        font-size: 24px;
        font-weight: 600;
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
      }

      h1,h2,h3 {
        letter-spacing: -1px;

        &:hover {
          .heading-link {
            color: #363636;
            opacity: 1;
          }
        }

        .heading-link {
          opacity: 0;

          &:hover {
            color: #0DC0DC;
          }

          .icon {
            vertical-align: middle;
          }
        }
      }

      .title {
        color: $os-blue-s60;
        position: relative;
        letter-spacing: -1.8px;
        font-weight: 600;
        font-size: 36px;

        &::before {
          display: inline-block;
          width: 6px;
          height: 1.75em;
          content: '';
          background-color: $os-blue-s20;
          position: absolute;
          left: -1.5rem;
          top: 50%;
          margin-top: -0.875em;
        }
      }

      .styled-example {
        font-size: 12px;

        .title {
          &::before {
            display: none;
          }
        }

        .body {
          flex: none;
          display: block;

          .title {
            margin: initial;
            font-size: initial;
            letter-spacing: normal;
            font-weight: initial;
            line-height: initial;
            font-size: 12px;
            font-family: $family-sans-serif;

            span {
              font-weight: initial;
            }
          }
        }

        p {
          margin: initial;
          line-height: initial;
        }

        @import "./ccap-astronomy";

        .section {
          padding: 0;
          border-bottom: 0;
        }
      }
    }

    .source-highlight {
      pre {
        font-size: 14px;
        overflow-x: auto;
        padding: 1.25rem 1.5rem;
        white-space: pre-wrap;
      }
    }

    .subsection {
      padding: 2rem 0 0;
      transition: transform 0.2s linear;
      position: relative;
      top: 3rem;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $fill: both
     );


      &.is-fixed {
        position: fixed;
        top: 0;

        @at-root .is-pinned#{&}:not(.is-bottom) {
          transform: translate3d(0,5rem,0);
        }
      }

      &.is-bottom {
        position: absolute;
        top: auto;
        bottom: 4rem;
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
        font-weight: 600;
        color: #077384;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      .menu-list {
        a {
          font-size: 14px;
          border-left: 4px solid transparent;
          border-radius: 0;
          letter-spacing: -1px;

          &:hover,
          &.is-active {
            color: $os-blue;
            background-color: transparent;
          }

          &.is-active {
            border-color: $os-blue;
          }
        }
      }
    }
  }
}

.footer {
  color: #fff;
  background-color: transparent;
  color: #9B9B9B;
  padding: 0;
  font-size: 14px;

  .columns {
    @include widescreen {
      width: 75%
    }
  }

  a {
    &.icon {
      color: #9B9B9B;

      &:hover {
        color: #363636;
      }
    }
  }

  .meta {
    margin-bottom: 10px;

    a {
      font-weight: 600;

      &:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
