@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Noto+Serif');
@charset "utf-8";
@import "variables",
        "font-awesome",
        "bulma",
        "animate",
        "highlight",

        //For general-composition/typography styles
        "typography-scales";

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

a:hover {
  color: $body-color;
}

.sticky {
  will-change: transform;
  transition: transform 200ms linear;
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
}

.sticky--pinned {
  transform: translateY(0%);
}

.sticky--unpinned {
  transform: translateY(-100%);
}

/* Layout */
html {
  font-size: 16px;
}

body {
  display: flex;
  height: 100%;
  height: 100vh;
  font-size: 100%;
  flex-direction: column;
  line-height: 1.75;
}

.header,
.footer {
  flex: none;

  @include fadeIn(
    $duration: 0.5s,
    $delay: 0s,
    $function: linear,
    $count: 1,
    $fill: backwards
 );
}

.body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  @include fadeIn(
    $duration: 0.5s,
    $delay: 0s,
    $function: linear,
    $count: 1,
    $fill: backwards
  );

  @include tablet {
    flex-direction: row;
  }

  .side-nav {
    @include tablet {
      flex: 0 0 258px;
    }
  }

  .main.section {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablet {
      margin: 0;
    }

    .container {
      flex: 1;
      width: 100%;
    }
  }

  .title {
    font-family: $family-helvetica;
  }
}

/* Custom styles */

body {
  background-color: $body-bg;

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.header .nav {
  min-height: 5rem;

  @include mobile {
    @at-root .is-active #{&} {
      will-change: transform;
      transition: transform 200ms 0.2s linear;
      transform: translateY(-100%);
    }
  }

  @include tablet {
    background-color: $primary;
  }

  &.sticky--not-top {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  }

  .nav-left {
    justify-content: space-between;
    overflow: visible;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @include tablet {
      flex: 0 0 258px;
      background-color: #fff;
    }

    .search--icon {
      cursor: pointer;
      color: $os-gray;
      margin-right: 1.5rem;

      &:hover {
        color: $primary;
      }

      @include tablet {
        display: none;
      }
    }
  }

  .logo {
    max-height: 2.2rem;

    @at-root .is-active.search--icon #{&} {
      transform: translateY(5rem);
      will-change: transform;
      transition: transform 200ms 0.4s linear;
    }
  }

  .nav-toggle {
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-self: center;

    &.is-active {
      @include mobile {
        @at-root .is-active #{&} {
          will-change: transform;
          transition: transform 200ms linear;
          transform: translateY(5rem);
        }
      }

      span:nth-child(1) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }

      span:nth-child(3) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }
    }

    span {
      width: 12px;
      margin-left: -6px;
    }

    span:nth-child(1) {
      margin-top: -4px;
    }

    span:nth-child(3) {
      margin-top: 2px;
    }
  }

  .nav-center {
    @include mobile {
      width: 0;
      height: 0;
      opacity: 0;
      background-color: #fff;
      overflow: hidden;
      will-change: transform;
      transition: transform 200ms 0.4s linear;

      transform: translateY(-100%);
      transition: transform 0.2s 0.4s linear;

      @at-root .is-active.search--icon #{&} {
        width: inherit;
        height: inherit;
        opacity: 1;
        transform: translateY(5rem);
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: -1;
        padding: 6rem 1.5rem 3rem;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    @include tablet {
      flex: 1 0;
      display: flex;
      margin: 0 1.5rem;
    }

    @include widescreen {
      margin-right: 2rem;
    }

    .container {
      display: flex;
      flex: 1 0;
      width: 100%;
    }
  }
}

.search {
  padding: 1.5rem;
  position: relative;
  display: block;
  background-color: #fff;
  margin-bottom: 3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.2s 0.6s linear;
  background-color: rgba(255,255,255,0.2);
  box-shadow: none;
  padding: 0 1.5rem;
  margin-bottom: 0;
  border-radius: 3px;
  width: 100%;

  &.is-focus {
    background-color: rgba(255,255,255,1);
  }

  @at-root .is-active.search--icon #{&} {
    opacity: 1;
    padding: 0 0.5rem;
  }

  @include mobile {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 47px;
      left: 0;
      border-bottom: 1px solid $border-color;
    }
  }

  @include tablet {
    opacity: 1;

    &:hover,
    &.is-focus {
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
  }

  @include tablet {
    align-self: center;
  }

  @include widescreen {
    width: 75%;
  }

  .control.is-grouped {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }

  .control.has-icons-left .input + .icon {
    @include tablet {
      color: $search-icon;
    }

    .fa {
      height: 100%;
      line-height: 48px;
    }
 }

  .control.has-icons-left .input:focus + .icon {
    @include tablet {
      color: $search-icon;
    }
  }

  &.is-focus .control.has-icons-left .input + .icon {
    @include tablet {
      color: $os-gray;
    }
  }

  .input {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding-left: 4.5em !important;
    letter-spacing: -1px;
    background-color: transparent;
    height: 50px;
    padding-left: 3.5em !important;

    @include tablet {
      color: $os-blue-s40;

      &::placeholder {
        color: $os-blue-s40;
      }
    }

    @at-root .search.is-focus {
      .input {
        color: $os-gray6;

        &::placeholder {
          color: $os-gray6;
        }
      }
    }
  }
}

.search-results {
  @at-root .nav #{&} {
    position: absolute;
    transform: translate3d(0,-100%,0);
    opacity: 0;
    top: 48px;
    left: 0;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    width: 100%;

    @include tablet {
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

  }

    @at-root .content #{&} {
      ul {
        list-style: none;
        margin: 0;

        li {
          padding: 1rem 1rem 1rem 4rem;
          border-bottom: 1px solid $border-color;
          background-size: 22px;
        }

        li:first-child a {
          border-top: 0;
        }

        li:last-child {
          border-bottom: 0;
        }

        p {
          padding-left: 0.75em;
          font-size: 14px;
          line-height: 1.75;
        }
      }
    }

  &.is-visible {
    opacity: 1;
    transform: translate3d(0,0,0);

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0s,
      $function: linear,
      $count: 1,
      $fill: both
    );

    @include mobile {
       height: calc(100vh - 14rem);
       overflow-y: scroll;
       -webkit-overflow-scrolling: touch;
    }

    @at-root .sticky--unpinned #{&} {
      @include slideOutUp(
        $duration: 1.6s,
        $delay: 1s,
        $function: linear,
        $count: 1,
        $fill: both
      );
    }
  }

  @include desktop {
    border-top: none;
    top: 48px;
  }

  li {
    background-position: 1.5rem 50%;
    background-repeat: no-repeat;

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0s,
      $function: linear,
      $count: 1,
      $fill: both
   );

   @include mobile {
      background-position: 0.5rem 50%;
   }

   &.no-results {
     color: $os-gray;
     font-weight: 600;
     border-bottom: 1px solid $border-color;
     padding: 1rem 1rem 1rem 5rem;

     @include tablet {
       border-top: 1px solid $border-color;
     }
   }
 }

  li.getting-started {
    background-image: url('/assets/img/svg/icon-getting-started.svg');
  }

  li.general-composition {
    background-image: url('/assets/img/svg/icon-general-composition.svg');
  }

  li.content-elements {
    background-image: url('/assets/img/svg/icon-content-elements.svg');
  }

  li.book-skeleton {
    background-image: url('/assets/img/svg/icon-book-skeleton.svg');
  }

  li.themes {
    background-image: url('/assets/img/svg/icon-themes.svg');
  }

  li:first-child a {
    @include tablet {
      border-top: 1px solid $border-color;
    }
  }

  li:nth-child(4) a {
    border-bottom: none;
  }

  a {
    color: $os-gray;
    font-weight: 600;
    border-radius: 0;

    @at-root .nav #{&} {
      border-bottom: 1px solid $border-color;
      padding: 1rem 1rem 1rem 5rem;

      @include mobile {
        padding-left: 4rem;
      }
    }



    &:hover {
      background: transparent;
    }

    &.view-more {
      color: $primary;
      font-weight: 400;

      span:first-child {
        color: $primary;
        padding-bottom: 0;
        display: inline-block;
      }
    }

    span:first-child {
      font-size: 12px;
      color: $os-gray2;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      padding-bottom: 0.5rem;
      font-family: $family-helvetica;
    }
  }
}

.body {
  margin-top: 5rem;

  .side-nav {
    background-color: $nav-bg;
    color: $body-color;
    z-index: 2;

    @include mobile {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      will-change: transform;
      transition: transform 200ms 0.4s linear;
      transform: translateY(-100%);

      @at-root .is-active.nav--open #{&} {
        opacity: 1;
        width: inherit;
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transform: translateY(0);
      }
    }

    @include tablet {
      padding-bottom: 12rem;
    }

    @include tablet-only {
      margin-left: -258px;
      transition: 0.2s transform ease-out;
      position: fixed;
      top: 5rem;
      left: 0;
      bottom: 0;
      width: 258px;

      @at-root .is-active.nav--open #{&} {
        transform: translate3d(258px, 0, 0);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }

    .menu {
      padding-top: 1.3em;
      padding-bottom: 1.3em;
      border-bottom: 1px solid $nav-border;

      &:last-child {
        border-bottom: none;
      }
    }

    p {
      font-family: $family-helvetica;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      font-weight: 600;
      padding-left: 0.75em;
      padding-right: 0.75em;
      letter-spacing: -1px;
    }

    a {
      color: $body-color;
      font-size: 16px;
      letter-spacing: -1px;
      border-left: 4px solid transparent;
      border-radius: 0;

      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }

      &.is-active {
        background-color: $body-bg;
        color: $primary;
        border-color: $primary;
      }
    }
  }

  .main {
    background-color: $body-bg;
    opacity: 0;

    @include fadeIn(
      $duration: 0.2s,
      $delay: 0.2s,
      $function: linear,
      $count: 1,
      $fill: both
   );

    &::before {
      opacity: 0;
      content: '';
      transition: opacity 0.3s 0.1s;

      @at-root .is-active #{&} {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $os-blue-s40;
        opacity: 0.95;
        z-index: 1;
      }
    }

    .section {
      background-color: transparent;
      margin-bottom: 3rem;
      padding: 0;
      position: relative;
    }

    .github-bar {
      background: $github-bar;
      border-top: 1px solid #fff;
      border-bottom: 1px solid $github-bar-border;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      color: $os-gray;
      font-family: $family-helvetica;
      font-weight: 600;
      letter-spacing: -1px;
      padding: 0 0.75rem;
      z-index: auto;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $count: 1,
        $fill: both
      );

      p {
        font-size: 18px;

        @media screen and (max-width: 480px) {
          font-size: 14px;
        }

        span {
          padding-left: 0.25em;
          font-size: 16px;
          font-weight: 400;
          color: $os-gray2;

          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        }
      }

      .nav-right {
        display: flex;
      }

      .changelog {
        font-weight: 400;
        color: $os-gray2;
        font-size: 14px;
        letter-spacing: 0px;

        @media screen and (max-width: 480px) {
          display: none;
        }
      }

      .github-issues {
        letter-spacing: 0px;
        color: $os-gray;
        font-size: 14px;

        @media screen and (max-width: 480px) {
          font-size: 12px;
        }
      }

      a:hover {
        color: $os-blue;
      }
    }

    .back-to-top {
      color: $body-color;
      position: fixed;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      transition: opacity 0.2s, transform 0.2s;

      &:hover {
        color: $os-blue;

        .tooltiptext {
          visibility: visible;
          opacity: 1;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent $os-gray;
          }
        }
      }

      span:not(.tooltiptext) {
        display: block;
        margin: 0 auto 0.5rem;
      }

      .tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 90px;
        background-color: $os-gray;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.2s 0.2s;
        font-size: 12px;
        top: 50%;
        bottom: auto;
        right: 128%;
      }

      @at-root .menu.subsection.is-fixed {
        & + .back-to-top {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .content {
      background: #fff;
      padding: 3rem 1.5rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      word-wrap: break-word;
      position: relative;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $count: 1,
        $fill: both
     );

      code {
        display: inline-block;
      }

      h2 {
        font-family: $family-helvetica;
        font-size: 24px;
        font-weight: 600;
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
      }

      h1,h2,h3 {
        letter-spacing: -1px;

        &:hover {
          .heading-link {
            color: $body-color;
            opacity: 1;
          }
        }

        .heading-link {
          opacity: 0;

          &:hover {
            color: $primary;
          }

          .icon {
            vertical-align: middle;
          }
        }
      }

      .title {
        color: $os-blue-s60;
        position: relative;
        letter-spacing: -1.8px;
        font-weight: 600;
        font-size: 36px;

        &::before {
          display: inline-block;
          width: 6px;
          height: 1.75em;
          content: '';
          background-color: $os-blue-s20;
          position: absolute;
          left: -1.5rem;
          top: 50%;
          margin-top: -0.875em;
        }
      }

      .styled-example {
        font-size: 12px;

        img {
          max-width: 100% !important;
        }

        .body {
          flex: none;
          display: block;
          margin: initial;
        }

        .title {
          margin: initial;
          font-size: initial;
          letter-spacing: 0;
          font-weight: initial;
          line-height: initial;
          font-size: 12px;
          font-family: $family-sans-serif;

          &::before {
            display: none;
          }

          span {
            font-weight: inherit;
          }
        }

        .note.making-connections > div.body::before {
          background: url(/assets/img/examples/ccap-astronomy/making-connections.svg) no-repeat 0 !important;
        }

        p {
          margin: initial;
          line-height: initial;
        }

        @import "./ccap-astronomy";

        .section {
          padding: 0;
          border-bottom: 0;
        }
      }
    }

    .download-icon {
      vertical-align: baseline;
      padding-right: 0.5rem;
    }

    .source-highlight {
      pre {
        border-radius: 3px;
        border: 1px solid $border-color;
        background-color: $os-gray5;
        font-size: 14px;
        overflow-x: auto;
        padding: 1.25rem 1.5rem;
        white-space: pre-wrap;
      }
    }

    .subsection {
      padding: 2rem 0 0;
      transition: transform 0.2s linear;
      position: relative;
      top: 3rem;

      @include fadeIn(
        $duration: 0.2s,
        $delay: 0.2s,
        $function: linear,
        $count: 1,
        $fill: both
     );


      &.is-fixed {
        position: fixed;
        top: 0;

        @at-root .is-pinned#{&}:not(.is-bottom) {
          transform: translate3d(0,5rem,0);
        }
      }

      &.is-bottom {
        position: absolute;
        top: auto;
        bottom: 4rem;
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
        font-weight: 600;
        color: $h2-subsection;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      .menu-list {
        a {
          font-size: 14px;
          border-left: 4px solid transparent;
          border-radius: 0;
          letter-spacing: -1px;

          &:hover,
          &.is-active {
            color: $os-blue;
            background-color: transparent;
          }

          &.is-active {
            border-color: $os-blue;
          }
        }
      }
    }
  }
}

.footer {
  color: #fff;
  background-color: transparent;
  color: $secondary;
  padding: 0;
  font-size: 14px;

  .columns {
    justify-content: space-between;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    @include tablet {
      align-items: center;
    }

    @include widescreen {
      width: 75%
    }
  }

  .column {
    flex: 0 0 auto;
  }

  .column:first-child {
    @include mobile {
      order: 2;
    }
  }

  .column:last-child {
    @include mobile {
      order: 1;
    }
  }

  a {
    &.icon {
      color: #fff;
      background-color: $os-gray9;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: color 0.5s ease-in-out, background-color 0.3s ease-in-out;
      margin-left: 0.125rem;
      margin-bottom: 0.5rem;

      &:hover {
        background-color: $os-gray7;
        color: $body-color;
      }

      &:not(:last-child) {
        margin-right: 0.125rem;
      }

      .fa {
        line-height: 45px;
      }
    }
  }

  .meta {
    margin-bottom: 10px;

    a {
      font-weight: 600;

      &:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
