/*! bulma.io v0.3.1 | MIT License | github.com/jgthms/bulma */
@charset "utf-8";

// Override initial variables here
// You can add new ones or update existing ones:
$os-blue: #0DC0DC;
$os-blue-s60: #054C58;
$os-blue-s20: #0A99B0;
$os-blue-s40: #147383;
$family-sans-serif: "Noto Sans", "Noto Sans CJK {JP, KR, SC, TC}", sans-serif;
$family-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
// Override generated variables here
$primary: $os-blue;
$family-primary: $family-sans-serif;

@import "scss/font-awesome";
@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";
@import "highlight";


/* Layout */
html {
  font-size: 16px;
}

body {
  display: flex;
  height: 100%;
  height: 100vh;
  font-size: 100%;
  flex-direction: column;
  line-height: 1.75;
}

.header,
.footer {
  flex: none;
}

.body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  .side-nav {
    @include tablet {
      flex: 0 0 18rem;
    }
  }

  .main.section {
    @include tablet {
      flex: 1;
      margin: 0;
    }
  }

  .title {
    font-family: $family-helvetica;
  }
}

/* Custom styles */

body {
  background-color: #fbfbfb;

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.header .nav {
  z-index: 9999;
  min-height: 4rem;

@include mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

  @include tablet {
    background-color: $primary;
  }
  .nav-left {
    @include tablet {
      flex: 0 0 18rem;
      background-color: #fff;
    }
  }

  .logo {
    max-height: 2rem;
  }

  .nav-toggle {
    background-color: #f7f7f7;
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-self: center;
    margin: 0.5rem 0.75rem;

    @include tablet-only {
      left: -4rem;
    }

    &.is-active {
      span:nth-child(1) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }

      span:nth-child(3) {
        transform-origin: 50% 50%;
        margin-top: -1px;
      }
    }

    span {
      width: 12px;
      margin-left: -6px;
    }

    span:nth-child(1) {
      margin-top: -4px;
    }

    span:nth-child(3) {
      margin-top: 2px;
    }
  }
}

.body {
  @include mobile {
    margin-top: 56px;
  }

  .side-nav {
    background-color: #f7f7f7;
    color: #3b3b3b;

    @include mobile {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;

      @at-root .is-active#{&} {
        opacity: 1;
        width: inherit;
        height: inherit;
        position: fixed;
        top: 56px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }

    @include tablet-only {
      z-index: 999;
      margin-left: -18rem;
      // transition: 0.2s transform ease-out 0.1s;
      position: fixed;
      top: 56px;
      left: 0;
      bottom: 0;
      width: 18rem;

      @at-root .is-active#{&} {
        transform: translate3d(18rem, 0, 0);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: 0.2s transform ease-out 0.1s;
      }
    }

    .menu {
      padding-top: 1.3em;
      padding-bottom: 1.3em;
      border-bottom: 1px solid #d8d8d8;

      &:last-child {
        border-bottom: none;
      }
    }

    .changelog {
      padding-left: 0.75em;
      padding-right: 0.75em;
      text-transform: none;
      margin-bottom: 0;

      a {
        color: $os-blue;
        margin-left: 1em;
      }
    }

    p {
      font-family: $family-helvetica;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      font-weight: 600;
      padding-left: 0.75em;
      padding-right: 0.75em;
      letter-spacing: -1px;
    }

    a {
      color: #3b3b3b;
      font-size: 16px;
      letter-spacing: -1px;
      border-left: 4px solid transparent;
      border-radius: 0;

      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }

      &.is-active {
        background-color: whitesmoke;
        color: $primary;
        border-color: $primary;
      }
    }
  }

  .main {
    background-color: #fbfbfb;

    &::before {
      opacity: 0;
      content: '';
      transition: opacity 0.3s 0.1s;

      @at-root .is-active#{&} {
        display: block;
        position: fixed;
        top: 56px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $os-blue-s40;
        opacity: 0.95;
        z-index: 99;
      }
    }

    .search {
      padding: 1.5rem;
      position: relative;
      display: block;
      background-color: #fff;
      margin-bottom: 3rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      &:hover,
      &.is-focus {
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      }

      .control.is-grouped {
        margin-bottom: 0;
      }

      .input {
        box-shadow: none;
        border-radius: 0;
        border: none;
        padding-left: 4.5em;
        letter-spacing: -1px;
      }
    }

    .search-results {
      position: absolute;
      background-color: #fff;
      z-index: 1;
      width: 100%;
      left: 0;
      border-top: 1px solid #ebebeb;
      top: 100%;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      max-height: 20rem;
      overflow-y: auto;
      opacity: 0;

      &.is-visible {
        opacity: 1;
      }

      a {
        color: #000;
        font-weight: 500;
        border-bottom: 1px solid #ebebeb;
        padding: 1rem 1rem 1rem 6rem;
        letter-spacing: -1px;

        span:first-child {
          font-size: 12px;
          color: #aaa;
          text-transform: uppercase;
          display: block;
          padding-bottom: 0.5rem;
          font-family: $family-helvetica;
        }
      }
    }

    .h1 {
      color: #0A99B0;
      letter-spacing: -1px;
      font-weight: bold;
      font-size: 18px;
      background-color: #fff;
      padding: 1.5rem;
      border-bottom: 1px solid #ebebeb;
    }

    .section {
      background-color: #fff;
      margin-bottom: 3rem;
      border-bottom: 1px solid #ebebeb;
    }

    .content {
      h2 {
        font-family: $family-helvetica;
        font-size: 24px;
        font-weight: 600;
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
      }

      h1,h2,h3 {
        letter-spacing: -1px;

        &:hover {
          .heading-link {
            color: #363636;
            opacity: 1;
          }
        }

        .heading-link {
          opacity: 0;

          &:hover {
            color: #0DC0DC;
          }

          .icon {
            vertical-align: middle;
          }
        }
      }

      .title {
        color: $os-blue-s60;
        position: relative;
        letter-spacing: -1.8px;
        font-weight: 600;
        font-size: 36px;

        &::before {
          display: inline-block;
          width: 6px;
          height: 1.75em;
          content: '';
          background-color: $os-blue-s20;
          position: absolute;
          left: -1.5rem;
          top: 50%;
          margin-top: -0.875em;
        }
      }

      .styled-example {
        font-size: 12px;

        .title {
          &::before {
            display: none;
          }
        }

        .body {
          flex: none;
          display: block;

          .title {
            margin: initial;
            font-size: initial;
            letter-spacing: normal;
            font-weight: initial;
            line-height: initial;
            font-size: 12px;
            font-family: $family-sans-serif;

            span {
              font-weight: initial;
            }
          }
        }

        p {
          margin: initial;
          line-height: initial;
        }

        @import "./ccap-astronomy";

        .section {
          padding: 0;
          border-bottom: 0;
        }
      }
    }

    .source-highlight {
      pre {
        font-size: 14px;
        overflow-x: auto;
        padding: 1.25rem 1.5rem;
        white-space: pre-wrap;
      }
    }

    .subsection {
      padding: 2rem 0;

      &.is-fixed {
        position: fixed;
        top: 2rem;
        padding: 0;
      }

      &.is-bottom {
        position: absolute;
        top: auto;
        bottom: 3rem;
      }

      &.is-fixed,
      &.is-bottom {
        .back-to-top {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      .back-to-top {
        color: #363636;
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        transition: opacity 0.2s, transform 0.2s;

        &:hover {
          color: $os-blue;
        }
      }

      h3 {
        font-family: $family-helvetica;
        font-size: 18px;
        font-weight: 600;
        color: #077384;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      .menu-list {
        a {
          font-size: 14px;
          border-left: 4px solid transparent;
          border-radius: 0;
          letter-spacing: -1px;

          &:hover,
          &.is-active {
            color: $os-blue;
            background-color: transparent;
          }

          &.is-active {
            border-color: $os-blue;
          }
        }
      }
    }
  }
}

.footer {
  color: #fff;
  background-color: #077384;
  color: #363636;
  padding-bottom: 3rem;
  font-size: 14px;

  a {
    color: #363636;

    &:hover {
      color: #0DC0DC;
    }
  }

  .meta {
    margin-bottom: 10px;

    a {
      font-weight: 600;

      &:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
