.typography-primary {
  font-family: "Noto Sans";
  h1 { font-family: "Noto Serif"; }
}
.typography-secondary {
  font-family: "Dosis";
  h1 { font-family: "Noto Sans"; }
}
.typography-tertiary {
  font-family: "Dosis";
  h1 { font-family: "Noto Serif"; }
}
.typography-scale-1 {
  font-size: 9px;
  line-height: 1.5;
}
.typography-scale-2 {
  font-size: 8px;
  line-height: 1.5;
}
.typography-grid-scale-1 {
  border: 1px solid rgba(0, 0, 0, .5);
  font-size: 9px;
  line-height: 1.5;

  background-size: 100% 13.5px;
  background-position: 0 -2.5px;
  background-image: linear-gradient(to bottom,
                                    black 0%,
                                    transparent 7%,
                                    transparent 100%);

  img {
    display: block;
    margin: auto;
    margin-bottom: 14px;

    width: 100%;
    max-width: 408px;
  }
}
.typography-accompanying-text {
  padding: 0 1.2em;
  width: 150px;
  float: right;
}


.body .main .content {
  .typography-font-family {
    // 28.428
    // 27
    // 21.324
    // 18
    // 15.996
    // 12
    // 9
    .title {
      font-size: 21.324px;
      color: black;
      line-height: 1.5;
      padding-bottom: .4em;
      border-bottom: 2px solid #f9f9f9;
    } // font name title
    .title::before { display: none; }
    .title ~ .title,
    .columns .column .title {
      color: #bcbdc0;
      font-size: 11px;
      letter-spacing: .1px;
      border: none;
      margin-bottom: 0px;
    } // the other titles...
    .columns .column .title { }
    .columns .column > p:first-of-type:not(.typography-pairing):not(.typography-example-title) {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .columns .column p { margin-bottom: 0px; }
    .typography-regular, .typography-regular-italic,
    .typography-bold, .typography-bold-italic {
      font-size: 28.428px;
      line-height: 1.3em;
    }
    .typography-regular { }
    .typography-regular-italic {
      font-style: italic;
    }
    .typography-bold {
      font-weight: bold;
    }
    .typography-bold-italic {
      font-style: italic;
      font-weight: bold;
    }
    .typography-size-1, .typography-size-2,
    .typography-size-3, .typography-size-4,
    .typography-size-5, .typography-size-6 {
      line-height: 1.4em;
    }
    .typography-size-1 {
      font-size: 9px;
      // This font is rather small, so pad it a bit!
      padding-top: .7em;
    }
    .typography-size-2 { font-size: 12px; }
    .typography-size-3 { font-size: 15.996px; }
    .typography-size-4 { font-size: 18px; }
    .typography-size-5 { font-size: 21.324px; }
    .typography-size-6 { font-size: 27px; }
    .typography-source {
      font-size: 9px;
      font-style: italic;
    }
    .typography-source-link {
      font-size: 9px;
    }
    .typography-numbers {
      font-size: 28.428px;
      line-height: 1em;
    }
    .typography-pairing {
      font-weight: bold;
      font-size: 12px;
      padding-bottom: 9px;
    }
  }

  @mixin typography-example-title-reset {
    font-size: 15.996px;
    color: black;
    padding-bottom: 9px;
  }
  @mixin typography-example-reset {
    font-size: 11px;
  }

  .typography-font-family-1 {
    font-family: 'Noto Sans', sans-serif;
    .title {
      font-weight: bold;
    }
    div.columns.typography-example-first {
      .typography-example-title {
        @include typography-example-title-reset();
        font-family: 'Dosis', sans-serif;
      }
      .typography-example {
        @include typography-example-reset();
      }
    }
    div.columns.typography-example-second {
      .typography-example-title {
        @include typography-example-title-reset();
      }
      .typography-example {
        @include typography-example-reset();
        font-family: 'Noto Serif', serif;
      }
    }
  }
  .typography-font-family-2 {
    font-family: 'Noto Sans', sans-serif;
    .title {
      font-family: 'Noto Serif', serif;
      font-weight: bold;
    }
    div.columns.typography-example-first {
      .typography-example-title {
        @include typography-example-title-reset();
        font-family: 'Noto Sans', sans-serif;
      }
      .typography-example {
        @include typography-example-reset();
        font-family: 'Noto Serif', serif;
      }
    }
    div.columns.typography-example-second {
      .typography-example-title {
        @include typography-example-title-reset();
        font-family: 'Dosis', sans-serif;
      }
      .typography-example {
        @include typography-example-reset();
        font-family: 'Noto Serif', serif;
      }
    }

    .typography-regular, .typography-regular-italic,
    .typography-bold, .typography-bold-italic {
      font-family: 'Noto Serif', serif;
    }
    .typography-size-1, .typography-size-2,
    .typography-size-3, .typography-size-4,
    .typography-size-5, .typography-size-6 {
      font-family: 'Noto Serif', serif;
    }
  }
  .typography-font-family-3 {
    font-family: 'Noto Sans', sans-serif;
    .title {
      font-weight: bold;
    }
    div.columns.typography-example-first {
      .typography-example-title {
        @include typography-example-title-reset();
        font-family: 'Dosis', sans-serif;
      }
      .typography-example {
        @include typography-example-reset();
      }
    }
    div.columns.typography-example-second {
      .typography-example-title {
        @include typography-example-title-reset();
        font-family: 'Dosis', sans-serif;
      }
      .typography-example {
        @include typography-example-reset();
        font-family: 'Noto Serif', serif;
      }
    }

    .typography-regular, .typography-regular-italic,
    .typography-bold, .typography-bold-italic {
      font-family: 'Dosis', sans-serif;
    }
    .typography-size-1, .typography-size-2,
    .typography-size-3, .typography-size-4,
    .typography-size-5, .typography-size-6 {
      font-family: 'Dosis', sans-serif;
    }
  }
}

.typography-primary {
  font-family: "Noto Sans";
  h1 { font-family: "Noto Serif"; }
}
.typography-secondary {
  font-family: "Dosis";
  h1 { font-family: "Noto Sans"; }
}
.typography-tertiary {
  font-family: "Dosis";
  h1 { font-family: "Noto Serif"; }
}
.typography-scale-1 {
  font-size: 9px;
  line-height: 1.5;
}
.typography-scale-2 {
  font-size: 8px;
  line-height: 1.5;
}
.typography-grid-scale-1 {
  font-size: 9px;
  line-height: 1.5;

  background-size: 100% 13.5px;
  background-position: 0 -2.5px;
  background-image: linear-gradient(to bottom,
                                    black 0%,
                                    transparent 7%,
                                    transparent 100%);

  img {
    display: block;
    margin: auto;
    margin-bottom: 14px;

    width: 100%;
    max-width: 408px;
  }
}
.typography-accompanying-text {
  line-height: 1.8em;
  padding-top: .7em;
  padding-bottom: 1.2em;
  width: 150px;
  float: right;
  font-size: 12px;

  h3 {
    margin-top: -1px;
    margin-bottom: 0px;
  }
}
.typography-example-with-title h3 {
  padding-bottom: 0.4em;
  text-align: center;
}
